Options -MultiViews
DirectoryIndex index.html
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^admin/?$ index.html [L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^ - [L]
  RewriteRule ^.*$ index.html [L]
</IfModule>
<IfModule !mod_rewrite.c>
  FallbackResource /index.html
</IfModule>
